target: {
  host: "localhost"
  port: 5554
  uri: "Record"
  token: "token"
}

source: {
  test: "smpte"
}

#source: {
#  url: "rtsp://ipcam.stream:8554/bars"
#}

#source: {
#  onvif: "http://dev.cam:8899/"
#  track-motion-event: true
#  motion-record-time: 10 // seconds
#}

stun-server: "stun://stun.l.google.com:19302"
#turn-server: "turn://username:password@host:port"

debug: {
#  log-level: 3
#  lws-log-level: 2
}
